@font-face {
    font-family: 'CircularSpotifyText';
    src: url('../fonts/CircularSpotifyText-Black.otf') format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'CircularSpotifyText';
    src: url('../fonts/CircularSpotifyText-Bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'CircularSpotifyText';
    src: url('../fonts/CircularSpotifyText-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'CircularSpotifyText';
    src: url('../fonts/CircularSpotifyText-Light.otf') format('opentype');
    font-weight: 200;
}

body {
    background-color: #303030;
    transition: opacity 0.3s ease;
    font-family: 'CircularSpotifyText', sans-serif;
    margin: 0;
    padding: 0;
}

.placeholder {
    font-weight: 900;
    font-size: 75px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.box {
    padding-left: 80px;
    padding-top: 80px;
    font-size: 80px;
    color: white;
    width: 60vw;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.lyrics-note {
    font-weight: 300;
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 25px;
}

@media (max-width: 1200px) {
    .box {
        font-size: 50px;
        width: 85vw;
    }
}

.line {
    font-weight: 700;
    margin-bottom: 35px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.line.past {
    opacity: 0.4;
}
.line.current {
    opacity: 1;
}
.line.future {
    opacity: 0.75;
}
